graft src
graft tests

include AUTHORS.txt LICENSE*.txt README.rst

# Exclude all bytecode files and __pycache__ directories
global-exclude *.py[cod]  # Exclude all .pyc, .pyo, and .pyd files.
global-exclude .DS_Store  # Exclude Mac filesystem artifacts.
global-exclude __pycache__  # Exclude Python cache directories.
global-exclude .git*  # Exclude git files and directories.
